*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    font-family: 'Roboto', sans-serif;
}



/* generali */

i{
    color: #B1B1B1;
    font-size: 25px;
}




/* container */

.background{
    background: linear-gradient(
        to top,
        #D9DBD4 0%,
        #D9DBD4 90%,
        #009688 10%,
        #009688 100%
      );
    height: 100vh;
    padding: 2rem;
    width: 100vw;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    height: 90vh;

    background-color: white;
    display: flex;

    box-shadow: 1px 1px 5px gray;
}

/* aside _______________________________________*/


.aside_container{
    height: 100%;
    width: 450px;
}

/********** header_utente ***********/

.header{
    background-color: #eaeaea;
    height: 70px;
    border-right: 2px gray solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    height: 100%;
    padding: 10px;
}

.image img{
    height: 100%;
    border-radius: 50%;
}

.aside_container .image{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .icons{
    height: 100%;
    padding: 1rem;
    display: flex;
    gap: 20px;
    align-items: center;
}


/* *********** notifiche *********** */

.alerts{
    background-color: #8EDAFC;
    height: 60px; 

    padding: 2rem 1rem;
    display: flex;
    gap: 20px;
    align-items: center;
}

.alerts i{
    color: #8EDAFC;
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
}

.alerts div{
    margin-bottom: 2px;
}

.alerts a{
    color: gray;
    font-size: 15px;
}

/* *******search_container******* */

.search{
    background-color:  #F9F9F9;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.search input{
    flex-grow: 1;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

/* ********contatti******** */

.contacts{
    background-color: white;
    height: calc(100% - 185px);
}

.contacts .contact{
    height: 70px;
    display: flex;
    cursor: pointer;
}

.contact:hover{
    background-color: rgb(232, 231, 231);
}

.contact_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.contact_info .last_text{
    font-size: 14px;
    color: gray;
}

.contact_info .user_time{
    font-size: 12px;
    color: rgb(100, 98, 98);
}

/* chat __________________________________-*/

.chat_container{
    height: 100%;
    width: calc(100% - 450px);
}

/* ************ chat_header********** */

.chat.image{
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat .access{
    font-size: 14px;
    color: dimgray;
}


/* *********main_chat*********** */

.main_chat{
    width: 100%;
    height: calc(100% - 130px);
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
    padding: 2rem;
}
  
.main_chat .messages{
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: flex-start;
}

.messages .message {
    min-width: 100px;
    max-width: 50%;

    border-radius: 8px;  
    padding: 10px;
    padding-bottom: 20px;

    position: relative;
}

.received{   
    background-color: white;
}

.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
  }
  
 .message .time {
    position: absolute;
    right: 5px;
    bottom: 5px;
    
    color: rgb(146, 145, 145);
  
    font-size: 12px;
  
  }

/* ********footer********** */

.footer{
    background-color: #F3EEEA;
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 1rem;
}

.emoji, .mic{
    max-width: 50px;
}

.footer input{
    flex-grow: 1;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

