*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    font-family: 'Roboto', sans-serif;
    outline: 1px rgba(0, 0, 0, 0.135) solid;
}



/* generali */

i{
    color: #B1B1B1;
    font-size: 25px;
}




/* container */

.background{
    background: linear-gradient(
        to top,
        #D9DBD4 0%,
        #D9DBD4 90%,
        #009688 10%,
        #009688 100%
      );
    height: 100vh;
    padding: 2rem;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    height: 90vh;

    background-color: white;
    display: flex;

    box-shadow: 1px 1px 5px gray;
}

/* aside _______________________________________*/


.aside_container{
    height: 100%;
    width: 450px;
}

/********** header_utente ***********/

.header{
    background-color: #eaeaea;
    height: 70px;
    border-right: 2px gray solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    height: 100%;
    padding: 10px;
}

.image img{
    height: 100%;
    border-radius: 50%;
}

.header .icons{
    height: 100%;
    padding: 1rem;
    display: flex;
    gap: 20px;
    align-items: center;
}


/* *********** notifiche *********** */

.alerts{
    background-color: #8EDAFC;
    height: 60px; 

    padding: 2rem 1rem;
    display: flex;
    gap: 20px;
    align-items: center;
}

.alerts i{
    color: #8EDAFC;
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
}

.alerts div{
    margin-bottom: 2px;
}

.alerts a{
    color: gray;
    font-size: 15px;
}

/* *******search_container******* */

.search{
    background-color:  #F9F9F9;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.search input{
    flex-grow: 1;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

/* ********contatti******** */

.contacts{
    background-color: white;
    height: calc(100% - 185px);
}

.contacts .contact{
    height: 70px;
    display: flex;
}

.contact_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


/* chat __________________________________-*/

.chat_container{
    height: 100%;
    width: calc(100% - 450px);
}

/* ************ chat_header********** */

.chat.image{
    display: flex;
    gap: 10px;
    align-items: center;
}


/* *********main_chat*********** */

.main_chat{
    width: 100%;
    height: calc(100% - 130px);
    display: flex;
    align-items: center;
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
    padding: 1rem;
}
  
.messages{
    width: 95%;
    height: 90%;
    margin: 0 auto;
}
  
.received{
    display: flex;
}

.sent{
    display: flex;
    justify-content: flex-end;
}
  
.messages_content{
    max-width: 50%;
    margin-bottom: 10px;
    padding: 15px 40px 10px 15px;
    border-radius: 7px;
    font-size: 15px;
    position: relative;
}
  

.received .messages_content {
   background-color: white;
}
  
.sent .messages_content{
   background-color: #dcf8c7;
}
  
.messages .time{
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    position: relative;
    left: 30px;
    color: grey;
}


/* ********footer********** */

.send_footer{
    background-color: #F3EEEA;
    height: 60px;
}

