<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    
    
    <title>Boolzapp</title>
</head>
<body class="debug">

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- test -->
    <!-- <div id="app">
        <h1>{{message}}</h1>
    </div> -->

    <main id="app" class="background">

        <!-- main container -->
        <div class="container">

            <!-- sidebar -->
            <aside class="aside_container">

                <!-- header -->
                <div class="user header">
                    <!-- immagine utente -->
                    <div class="user image">
                        <img :src="user.avatar">
                        <h4>{{user.name}}</h4>
                    </div>

                    <!-- contenitore icone -->
                    <div class="icons">
                        
                        <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                        <a href="#"><i class="fa-solid fa-message"></i></a>
                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>

                    </div>
                </div>

                <!-- sezione notifiche -->
                <div class="alerts">

                    <i class="fa-solid fa-bell-slash"></i>
                    <div>
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>

                </div>

                <!-- sezione cerca -->
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <!-- sezione contatti -->
                <div class="contacts">
                    
                    <div v-for="(contact, index) in contacts" class="contact" @click="changeChat(index)" class="contact">
                        <div class="image">

                            <img :src="contact.avatar" :alt="contact.name">

                        </div>
                        <div class="contact_info">
                            <div class="name">
                                <h4>{{contact.name}}</h4>
                                <span class="last_text">{{contact.messages[contact.messages.length - 1].message}}</span>
                            </div>
                            <div class="user_time">
                                <span>12:00</span>
                            </div>
                        </div>
                   
                    </div>
                   
                </div>

            </aside>


            <!-- chat content -->
            <div class="chat_container">

                <!-- chat header -->
                <div class="chat header">

                    <!-- immagine header -->
                    <div class="chat image">

                        <img  :src="contacts[counter].avatar" :alt="contacts[counter].name">

                        <!-- nome contatto -->
                        <div class="name">
                            <h4>{{contacts[counter].name}}</h4>
                            <span class="access">{{contacts[counter].access}}</span>
                        </div>
                    </div>


                    <!-- icone header chat -->
                    <div class="chat icons">

                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        
                    </div>
                </div>

                <div class="main_chat">
              
                    <div class="messages">

                        <div v-for="message in contacts[counter].messages" class="message" :class="message.status" class="message">
                            <span>
                                {{message.message}}
                            </span>
                            <div class="time">{{ message.time}}</div>
                        </div>
                        
                  
                        


                    </div>
                  
                </div>

                <!-- container messaggio -->
                <div class="chat footer">

                    <!-- emoji -->
                    <div class="emoji">
                        <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                    </div>

                    <!-- send a message -->
                    <input type="text" placeholder="Scrivi un messaggio">

                    <!-- vocale -->
                    <div class="mic">
                        <a href="#"><i class="fa-solid fa-microphone"></i></a>

                    </div>
          
                </div>

            </div>
                
        </div>

    </main>






    
    <!-- js -->
    <script type="text/javascript" src="js/script.js"></script>
    
    
</body>
</html>